# DATABASEDATABASE_URL="postgresql://root:root@localhost:5432/tworld"

DATABASE_URL="postgresql://user:password@localhost:5432/tworld"

GOOGLE_CLIENT_ID="id_de_cliente_de_google"
GOOGLE_CLIENT_SECRET="secreto_de_cliente_de_google"

NEXTAUTH_SECRET="una_clave_secreta_para_firmar_las_sesiones"
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="tu_clave_publica_de_stripe"
STRIPE_SECRET_KEY="tu_clave_secreta_de_stripe"

RESEND_API_KEY="tu_clave_api_de_resend"

STRIPE_WEBHOOK_SECRET="tu_clave_secreta_de_webhook_de_stripe"